


.container{
  display: flex;
  width: 40%;
  height: 800px;
  background-color: #e5eaee;
  margin: auto;
  box-shadow: rgba(250, 249, 249, 0.2) 0px 4px 8px 0px,
   rgba(33, 71, 151, 0.925) 0px 6px 20px 0px;
   border-radius: 10px;
}


.main{
    
    height: 900px;
    width: 100%;
}
.contentMain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 70%;
    color: #233A5F;
    
}

.experience{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 70%;
    color: #233A5F;
}

.additional{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 70%;
    color: #233A5F;
}

.line{
    background: #233A5F;
    border-radius: 4px;
    width: 100px;
    height: 5px;
}
.sideBar{
    background-color: #233A5F;
    width: 200px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100%;
    margin-left: 10px;
    padding-top: 20px;
    
}

.tittle{
    margin-top: 30px;
    color: white;
    font-size: 25px;
    
    
}

.imagem{
    border-radius: 50%;
    display: flex;
    margin-left: 30px;
    
}
.personal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    height: 20%;

}

.frame{
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
    border-radius: 4px;
    width: 170px;
    height: 30px;
    gap: 10px;
    font-size: 15px;
    line-height: 30px;    
    justify-content: center;
    
}

.skills{
    width: 100%;
    height: 20%;
    color: #E5E5E5;
   font-size: 25px;
   
}
.college{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    color: #E5E5E5;
    font-size: 25px;
    
}

.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    color: #E5E5E5;
    font-size: 25px;
    align-items: flex-start;
    
}


p{
    font-size: 15px;
    margin: 5px;
}
li{
    font-size: 15px;
}

a{
    color: #E5E5E5;
    margin: auto;
    
    
}
h1{
    margin-bottom: 5px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    margin-top: 25px;
}